name: Build ECU Editor EXE (Win32)

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 32-bit
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          architecture: "x86"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller PyQt5

      - name: Build EXE
        run: |
          pyinstaller --onefile --windowed main.py

      - name: Upload EXE
        uses: actions/upload-artifact@v4
        with:
          name: ECU_Editor_Win32
          path: dist/*.exe
